@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
      color: rgba(0, 0, 0, 0.87);; /* Set text color to black for light mode, if needed */
      background-color: #dbdbdb;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      color: rgba(255, 255, 255, 0.87);; /* Set text color to white for dark mode */
      background-color: #242424;
    }
  }

* {
    font-family: Montserrat;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#header {
    height: 60px;
    width: 100vw;
    min-width: 350px;
    background-color: rgb(48, 48, 48);
    position: fixed;
}

.navBar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButton {
    height: auto;
    background-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-color: rgb(126, 126, 126);
    font-size: 16px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
}

.navButton:hover {
    border-color: white;
    font-size: 20px;
}

.pageBox {
    min-height: calc(100vh - 60px);
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

#footer {
    height: 60px;
    text-align: center;
    padding: 20px;
    background-color: rgb(27, 27, 27);
}
